@model IEnumerable<Todo.Data.Models.TodoTask> 

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
</div>

<ul>
    @foreach (var todo in Model)
    {
    <li>
        @todo.TaskName
    </li>
    }
</ul>
